src/main/mule/api-flow-news.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="omni-monitor-main-2" doc:id="4c34f21e-10af-4328-b403-ab23289c765e" >
		<http:listener doc:name="Listener" doc:id="ffeb3b58-b4a9-41fd-921e-6e72c8725252" config-ref="HTTP_Listener_config" path="/new"/>
		<logger level="INFO" doc:name="Logger" doc:id="9f46917a-ba29-4436-b872-4459e55c32a1" message="#[payload]"/>
	</flow>
</mule>
